     @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Raleway:wght@600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');

html {
    background: black;
}

h1, h2, h3, h4, h5, p {
    color: white;
}

body {
    font-family: 'Montserrat';
}

.wrapper {
    width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header start */

.header__logo {
    margin-right: 15px;
}

.header {
    padding-top: 50px;
}

.header__strip {
    display: flex;
}

.header__telegram-link {
    background: #1BAAFB;
    padding:  10px 10px 10px 10px;
    border-radius: 5px;
    margin-left: 900px;
    transition: all .3s;
}

.header__telegram-link-2 {
    background: #FB1B86;
    padding:  10px 10px 10px 10px;
    border-radius: 5px;
    margin-left: 20px;
    transition: all .3s;
}

.header__telegram-link:hover{
    box-shadow: 0px 0px 25px 0px #1BAAFB;
}

.header__telegram-link-2:hover{
    box-shadow: 0px 0px 25px 0px #FB1B86;
}

/* header end */

/* first start  */

.first__block {
    display: flex;

}
.first__img {
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 133px;
}

.first__text-top {
    padding-top: 186px;
    padding-right: 350px;
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
}

.first__text-bottom {
    padding-right: 226px;
    color: #555353;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.first__buttons {
    padding-top: 100px;
    padding-bottom: 237px;
}

.first__download {
    border-radius: 5px;
    background: #041DFF;
    color: white;
    padding: 15px 40px 15px 40px;
    text-decoration: none;
    margin-right: 50px;
    transition: all .3s;
}

.first__buy {
    border-radius: 5px;
    background: #1AD391;
    color: white;
    padding: 15px 40px 15px 40px;
    text-decoration: none;
    margin-right: 50px;
    transition: all .3s;
}

.first__airdrop {
    color: white;
    border-radius: 5px;
    background: #FF007A;
    padding: 15px 40px 15px 40px;
    text-decoration: none;
    transition: all .3s;
}

.first__download:hover{
    box-shadow: 0px 0px 25px 0px #041DFF;
}

.first__buy:hover{
    box-shadow: 0px 0px 25px 0px #1AD391;
}

.first__airdrop:hover{
    box-shadow: 0px 0px 25px 0px #FF007A;
}
/* first end */

/* prew start */

.prew__img {
    padding-bottom: 221px;
}

/* prew end */

/* what start */

.what__text {
    padding-bottom: 120px;
}   

.what__text-1 {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
}

.square {
    width: 1228px;
    height: 1228px;
    transform: rotate(41deg);
    flex-shrink: 0;
    border-radius: 85px;
    border: 6px solid rgba(26, 211, 145, 0.50);
    margin-left: -400px;
    z-index: 1;
}

.what__cards {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-column-gap: 57px;
    grid-row-gap: 57px;
    padding-bottom: 120px;
}

.what__card {
    width: 370px;
    height: 240px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    grid-column: span 2 ;
    margin: auto;
}
.card__svg {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    padding-top: 25px;
    padding-left: 25px;
}

.card__p {
    color: #000;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.35px;
    padding-left: 25px;
}
/* what end */

/* our team start*/

.our__text {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    padding-bottom: 50px;
}

.team {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-column-gap: 5px;
    grid-row-gap: 25px;
    padding-bottom: 150px;
}

.team__window {
    width: 390px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    grid-column: span 2 ;
    flex-shrink: 0;
    margin: auto;
}

.img__window {
    width: 350px;
    height: 350px;
    border-radius: 15px;
    padding-top: 20px;
    padding-left: 20px;
}

.team__p-1 {
    color: #000;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 142.857% */
    letter-spacing: 0.35px;
    padding-left: 20px;
}

.team__p-2 {
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 142.857% */
    letter-spacing: 0.35px;
    width: 300px;
    padding-left: 20px;
}
/* our team end */